@media screen and (min-width: 480px) { /*Anything larger than a smartphone*/

}

@media screen and (min-width: 660px){ /*Desktops/Laptops Only*/

  /**********************************
  HEADER
  **********************************/

  header{
    left: 5%;
    width: 90%;
  }   


  .menu-button{
    display: none;

  }

  .logo{
    display: block;
    float: left;
    width: 45%;
    margin-left: 5%;
  }

  h2{
    font-size: .7em;
    
  }

  nav{
    float: right;
    clear: none;
    width: 45%;
    margin-right: 5%;
    border-top: none;
    margin-top: 20px;
    font-weight: bold;
  }

  nav ul{
    
    float:right;
  }

  nav ul li{
    display: inline-block;
    float: left;
    padding: 0 10px;
    font-size: 1em;
    background-color: 
  }

  /**********************************
  FOOTER
  **********************************/
  footer{
    font-size: 1.5em;
    border-top: 1px solid black;
    width: 90%;
    margin-left: 5%;
  } 

  /**********************************
  PAGE : INDEX
  **********************************/

  .project{
    width: 65%;
    margin: 3% auto 0;
  }

  .year{
    margin: 3% auto 0;
    width: 75%;
    border-bottom: 1px solid #9a9a9a;
    border-top: 1px solid #9a9a9a;
  }

  /**********************************
  PAGE : PROJECTS
  **********************************/

  .project-title{
    margin: 3% auto 0;
    width: 75%;
    border-bottom: 1px solid black;
  }

  .project-photo, .project-info{
    width: 65%;
    margin: 5% auto 10%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
  }

  .info-box{
    font-size: 1.1em;
  }

  .project-photo img{
    box-sizing: border-box;
    display: block;
    border-radius: 10px;
  }

  .project-description{
    font-size: 1em;
  }

  #project-plan, #github, #project-size{
    box-sizing: border-box;
    float: left;
    width: 50%;
    border-right: 1px solid black;
  }

  #sfd, #project-type, #project-link{
    box-sizing: border-box;
    float: right;
    width: 50%;
  }

  /**********************************
  PAGE: CONTACT
  **********************************/

  .contact-form{
    margin: 0 auto;
    max-width: 65%;
    margin: 5% auto 10%;
    border: 2px solid #3d6a47;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
  }

  /**********************************
  PAGE: ABOUT
  **********************************/

  .about-info{
    margin: 0 auto;
    max-width: 65%;
    margin: 5% auto 10%;
    border: 2px solid #3d6a47;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
  }

  /**********************************
  COLORS
  **********************************/
  nav{
    background-color: #6ab47b;
  }

}