<% include header %>

			<section class="content-container">
				<div class="project-title">
					<p>Bear Games</p>
				</div>
				<div class="project-photo">
					<img src="img/portfolio-03.png" alt="Bear Games Screenshot">
				</div>
				<div class="project-info group">
					<div class="project-description">
						<h3>Description</h3>
						<p>Bear Games is the second app by Mary Lee Arts. As project manager on this app it was my job to ensure it's completion was succesful, which meant getting it into the iPad App Store by Christmas of 2013. The app was launched to the App Store early December, 2013. I managed a team of 10, leveraging the Internet to manage members across the globe. <!--My primary role as manager was making sure everyone was in sync and working hard. Additionally, I was directly involved in the production of graphics assets as well as preparing audio and text for development use.--></p>
					</div>
					<div class="info-box info-left">
						<p><a href="assets/bear_games_design_document.pdf">Design Document</a></p>
					</div>
					<div class="info-box info-right">
						<p><a href="assets/bear_games_screen_flow_diagram.png">Screen Flow Diagram</a></p>
					</div>
					<div class="info-box info-left">
						<p>Repo: Private</p>
					</div>
					<div class="info-box info-right">
						<p><a href="https://itunes.apple.com/us/app/bear-games/id764637036?mt=8">Link to App</a></p>
					</div>
					<div class="info-box info-left">
						<p>Type: Professional</p>
					</div>
					<div class="info-box info-right">
						<p>Size: Large</p>
					</div>
				</div>
			</section>

<% include footer %>
