<% include header %>

			<section class="content-container">
					<div class="contact-info">
						<div class="contact-description">
							<h3>Contact Me</h3>
							<p>Fill out the contact form below to e-mail me. </p>
						</div>
						<div class="contact-form">
							<div id="wufoo-z15fwze81e2y2w6">
							</div>
							<script type="text/javascript">var z15fwze81e2y2w6;(function(d, t) {
							var s = d.createElement(t), options = {
							'userName':'peterbsmith',
							'formHash':'z15fwze81e2y2w6',
							'autoResize':true,
							'height':'497',
							'async':true,
							'host':'wufoo.com',
							'header':'hide',
							'ssl':true};
							s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
							s.onload = s.onreadystatechange = function() {
							var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
							try { z15fwze81e2y2w6 = new WufooForm();z15fwze81e2y2w6.initialize(options);z15fwze81e2y2w6.display(); } catch (e) {}};
							var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
							})(document, 'script');</script>
						</div>
					</div>
			</section>

<% include footer %>
