<% include header %>

			<section class="content-container">
				<ul>
					<li>
						<p class="year top-year">2015</p>
						<ul class="project-list">
							<!-- <li class="project">
								<a href="portfolio">
								<p>Personal Portfolio</p>
								<img src="img/portfolio-05.png" alt="Portfolio Screenshot">
								</a>
							</li> -->
							<li class="project">
								<a href="pillars">
								<p>PILLARS</p>
								<img src="img/portfolio-09.png" alt="PILLARS Screenshot">
								</a>
							</li>
							<li class="project">
								<a href="reddit16personalities">
								<p>reddit+16personalities</p>
								<img src="img/portfolio-08.png" alt="reddit+16personalities Screenshot">
								</a>
							</li>
							<li class="project">
								<a href="portfolio">
								<p>Personal Portfolio</p>
								<img src="img/portfolio-05.png" alt="Portfolio Screenshot">
								</a>
							</li>
							<!-- <li class="project">
								<a href="kchatmbti">
								<p>KChat+MBTI</p>
								<img src="img/portfolio-04.png" alt="KCHAT+MBTI Screenshot">
								</a>
							</li> -->
						</ul>
					</li>
					<li>
						<p class="year">2013</p>
						<ul class="project-list">
							<li class="project">
								<a href="beargames">
									<p>Bear Games</p>
									<img src="img/portfolio-03.png" alt="Bear Games Screenshot">
								</a>
							</li>
						</ul>
					</li>
					<li>
						<p class="year">2012</p>
						<ul class="project-list">
							<li class="project">
								<a href="islanddogs">
									<p>Island Dogs</p>
									<img src="img/portfolio-02.png" alt="Island Dogs Screenshot">
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</section>

<% include footer %>
