<% include header %>

			<section class="content-container">
				<div class="project-title">
					<p>PILLARS (alpha)</p>
				</div>
				<div class="project-photo">
					<img src="img/portfolio-09.png" alt="PILLARS Screenshot">
				</div>
				<div class="project-info group">
					<div class="project-description">
						<h3>Description</h3>
						<p>My life has been spent figuring ways to optimize productivity. I loved Getting Things Done by David Allen and it's highly structured processes. I found Tim Ferriss's Four Hour Workweek a fascinating case study in outsourcing the mundane.</p>
						<br>
						<p>
							PILLARS is the result of years of reading those books and their like.
						</p>
						<br>
						<p>
							PILLARS is a simple web app that I use to track and analyze how I am spending my time across 7 categories of life: Zazen, Work, Social, Learn, Bike, Eat Well, and Slack. It distills away many of the failings of productivity trackers by staying spartan.
						</p>
						<br>
						<p>
							Built with PHP and MySQL on the back-end and jQuery, Angular.js and D3.js on the front-end.
						</p>
					</div>
					<div class="info-box info-left">
						<p><a href="https://github.com/peterbsmith2/pillars">Repo: GitHub</a></p>
					</div>
					<div class="info-box info-right">
						<p><a href="http://www.peterbsmith.net/pillars/charts.html">Link to Demo</a></p>
					</div>
					<div class="info-box info-left">
						<p>Type: Personal</p>
					</div>
					<div class="info-box info-right">
						<p>Size: Medium</p>
					</div>
				</div>
			</section>

<% include footer %>
